.action {
    display: inline-block;
    padding: 13px 40px;
    text-align: center;
    border: 1px solid var(--color-black-lighter);
    text-decoration: none;
    line-height: 22px;
    position: relative;
    overflow: hidden;

    transition: color .2s;
}

.action__label {
    position: relative;
    z-index: 5;
}

.action.white {
    color: var(--color-white);
    border-color: var(--color-white);
}

.effect-elem {
    display: block;
    width: 0;
    height: 0;
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
    transition: width .4s ease-in-out, height .4s ease-in-out;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.action.effect:hover {
    color: var(--color-black-lighter);
}

.action.effect:hover .effect-elem {
    width: 600px;
    height: 600px;
}