.app-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-dark-background);
    z-index: 10;
}

.app-menu__inner {
    display: flex;
    flex-direction: column;
    padding: 226px 40px 32px 100px;
    height: 100%;
    position: relative;
    z-index: 30;
}

.app-menu:before {
    content: '';
    display: block;
    position: absolute;
    top: 10%;
    left: 40%;
    background-color: #222;
    width: var(--circle-bg-width);
    height: var(--circle-bg-height);
    border-radius: 50%;
    z-index: 25;
}

.app-menu__categories-wrap {
    display: flex;
    flex: 1;
}

.app-menu__categories,
.app-menu__subcategories {
    width: 50%;
}

.app-menu__category {
    font-size: 1.3rem;
    margin-bottom: 24px;
}

.app-menu__subcategory {
    margin-bottom: 24px;
}

.app-menu__list {
    display: flex;
    justify-content: space-between;
    color: var(--color-white);
    font-size: 0.8rem;
}

@media only screen and (max-width: 767px) {
    .app-menu__inner {
        padding: 40px 40px 32px;
    }

    .app-menu__category {
        font-size: 1.1rem;
    }
}