.app-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px 21px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--color-white);
}

@media only screen and (max-width: 767px) {
    .app-header {
        padding: 25px 15px 21px;
    }
}

@media only screen and (max-width: 420px) {
    .app-header__phone {
        display: none;
    }
}
